.menu-button {
  position: relative;
  margin-left: auto;
  width: 42px;
  height: 38px;
  padding: 0;
  border: 2px solid #e78719;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.menu-button-line {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transform-origin: 50% 50%;
}

.menu-button-line:nth-child(1) {
  transform: translate(-50%, -10px);
}

.menu-button-line:nth-child(2) {
  transform: translate(-50%, -50%);
}

.menu-button-line:nth-child(3) {
  transform: translate(-50%, 7px);
}

.menu-button-line:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-button-line:nth-child(5) {
  transform: translate(-50%, -50%) rotate(45deg);
}
