.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  border: 1px solid #c3c3c3;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.footer-copyright {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #b1b1b1;
}
